#contact {
    margin: 20px;
    padding: 15px;
    padding-left: 25px;
    max-width: 500;
    border-style: solid;
    border-color: var(--my-grey);
    border-radius: 0.1in;

}

#partners {
    margin-bottom: 40px;
}

.contact-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    font-style: normal;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.contact-link-text {
    margin-left: 20px;
}

.partner-link {
    margin-left: 20px;
    padding: 20px;
}

.partner-logo {
    height: 40px;
}