<html> 
  <head>
    <title>Can Soler</title> 
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon"  type="image/x-icon" href="{{ imgdir }}logo.png">

    <style>
      body {
        font-family: 'Comfortaa'; font-size: 22px;
      }
    </style>
  </head>

  <body> 
    <div id="header">
      <div class="box">
        <div class="box">
          <div class="logo">
            <h1><img src="{{ imgdir }}logo.png"/>  Can Soler</h1> 
          </div>
        </div>
        <div>
          <h2>Your home in Mallorca</h2> 
        </div>
      </div>
    </div>

    <section class="section bluebkg">
      <div class="sectionbox" id="thehouse">
        <h2>The house</h2>

        <!-- Slideshow container -->
        <div class="slideshow-container">

          <!-- Full-width images with number and caption text -->

          {% for fotocasa in fotoscasa %}
          <div class="mySlides fade">
            <div class="numbertext">{{ loop.index }} / {{ fotoscasa | length }}</div>
            <div class="sliderImage">
              <img src="{{ imgdir }}{{ fotocasa.img }}" style="height:75%">
            </div>
            <div class="text">{{ fotocasa.description }}</div>
          </div>
          {% endfor %}

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">

          {% for fotocasa in fotoscasa %}
          <span class="dot" onclick="currentSlide({{ loop.index }})"></span>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="section">
      <div class="sectionbox">
        <h2>Where to eat</h2>
        <div class="list-container">
          {% for restaurant in restaurants %}
          <div class="list-item">
            <div class="item-content">
              <h3>{{ restaurant.name }}</h3>
              <p>{{ restaurant.description }}</p>
              <div class="item-links">
                <a href="{{ restaurant.maps_link }}" target="_blank">{{ restaurant.address }}</a>
                <a href="{{ restaurant.link }}" target="_blank"> Visit their website </a>
              </div>
            </div>
            <div class="item-image">
              <img src="{{ imgdir }}{{ restaurant.img }}" alt="{{ restaurant.name }}"/>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </body>


<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
</html>
